.about-section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../images/apexBack.png");
  background-position: center;
  background-size: cover;
  height: 1000px;
}
.about-content-container{
border:1px solid black;
background-color: gray;
padding: 35px;

}
.social-links {
  display: flex;
  flex-direction: row;
  
}

.social-icon {
  display: flex;
  flex-direction: row;
  width: 50px;
  height: 50px;
  margin: 20px;
}
