nav {
  width: 100%;
  padding: 10px;
  color: #444;
  background-color: maroon;
  padding: 50px;
}
nav li {
  cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom:15px;
  
}
nav li:hover{
  background-color: #10101f;
}
.logo {
  position: absolute;
  width: 50px;
  height: 60px;
  left: 10px;
  top: 0;
}
.title-nav {
  color: #10101f;
  font-size: 40px;
  font-style: italic;
  border:none;
}
li {
  color: black;
  transition: 0.5s;
  padding: 20px;
  margin:20px;
}

li:hover {
  color: rgba(255, 0, 0, 0.699);
  border-radius: 1px solid black;
}
li a:after {
  
}
