.main-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

nav ul {
  border-right: #151515;
  list-style: none;
  float: right;
  margin: 0;
  padding: 10px;
  display: flex;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
}

nav ul li {
  list-style: none;
  
}

nav ul li {
  line-height: 80px;
  color: #151515;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}

nav.title-nav ul li :any-link:after {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '.';
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}
nav.title-nav ul li :any-link:hover:after {
  -webkit-animation: circle 1.5s ease-in forwards;
}
.logo{
  display: flex;
  justify-items: center;
}