.content-container{
  display:flex;
  flex-direction: column;
}
.content-main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.video-wrapper {
  display: flex;
  flex-direction: column;
}
.title {
  color: rgb(70, 0, 0);
  font-size: 2em;
  font-size: 100px;
  position: absolute;
  top: 37%;
  left: 34%;
  font-style: italic;
}
.title::after {
  
  position: absolute;
  top: 59%;
  left: 34%;
  font-style: italic;
}
.patch-notes {
  display: flex;
  flex-direction: row-reverse;
  padding: 5%;
  background-color: #808080;
  color: black;
  text-decoration: black;
  font-style: italic;
}

.line {
  border: 1px solid black;
}
.vertical-line {
  height: 5px;
  border: 1px solid black;
}
.live-vid {
  float: right;
  padding: 25px;
}
.videos-guides {
  border-radius: 1%;
  padding: 20px;
}
.news-updates {
  text-align: center;
  border-radius: 1%;

  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
}
.video-header:after {
  content: " ";
  display: block;
  border: 2px solid rgb(77, 12, 12);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.news-header {
text-align: left;
}
.news-header:after {
  content: " ";
  display: block;
  
  border: 2px solid rgb(77, 12, 12);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.wraith-img {
  width: 50%;
  height: 600px;
  border-radius: 1%;
  margin: 10px;
}
.wraith-img:hover {
  box-shadow: rgb(54, 53, 53) 10px 10px;
}

.LOTW {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: gray;
  padding: 10px;
}
.lotw-description {
  text-align: center;
}
.revenent-img {
  width: 500px;
  height: 300px;
  border-radius: 1%;
  margin: 10px;
}
.revenent-img:hover {
  box-shadow: 10px 10px;
}
.fan-art {
  background-color: gray;
}
.news-container {
  display: flex;
  flex-direction: column;
}
.legend-refs {
  list-style: none;
  text-decoration: none;
}
a {
  color: black;
}
a:hover {
  color: maroon;
  text-decoration: none;
}
@media only screen and (max-width: 1141px) {
  .sub-title {
    display: relative;
  }
  .content-main {
  }
}
h3 {
  color: black;
}
p {
  color: black;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .title {
    color: rgb(70, 0, 0);
    font-size: 2em;
    font-size: 100px;
    position: absolute;
    top: 37%;
    left: 34%;
    font-style: italic;
  }
  
  .np {
    display: inline-block;
    height: 80px;
  }
  .main {
    background-color: rgb(34, 31, 31);
    padding: 20px;
    margin: 20px;
    width: 200px;
    float: right;
  }
  .sub-title {
    color: maroon;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 65%;
    left: 24%;
    font-style: italic;
  }
  .hero {
    max-height: 600px;
    background-image: url(https://images.alphacoders.com/989/thumb-1920-989913.png);
    background-size: cover;

    height: 600px;
  }

  .header {
    padding: 10px;
    height: 150px;
    background-color: rgb(34, 31, 31);
  }
  .class-padding {
    float: left;

    background-color: rgb(34, 31, 31);
    padding: 20px;
    margin: 40px;
  }
  .video-wrapper {
    display: flex;
    flex-direction: column;
    transition: background-color 0.5s;
  }

  .tip-links {
    display: inline-block;
  }
  .forum-links {
    display: inline-block;
    background-color: rgb(34, 31, 31);
  }

  .content-main {
    position: relative;
    padding: 20px;
    margin: 20px;
    height: 900px;
    max-height: 1070px;
    transition: background-color 0.5s;
  }

  footer {
    position: fixed;
    text-align: center;
  }
  .bg-textColor {
    background-origin: padding-box;

    padding: 5px;
  }
  .bg-textColor:hover {
    background-color: rgb(67, 66, 66);
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .content-container {
    background-color: rgb(31, 26, 26);
  }
  .title {
    color: rgb(70, 0, 0);
    font-size: 2em;
    font-size: 100px;
    position: absolute;
    top: 27%;
    left: 25%;
    font-style: italic;
  }
  .title::after {
    content: "Tracker";
    position: absolute;
    top: 59%;
    left: 35%;
    font-style: italic;
  }
  .np {
    display: inline-block;
    height: 80px;
  }
  .main {
    background-color: rgb(34, 31, 31);
    margin: 20px;
    width: 200px;
    float: right;
  }
  .sub-title {
    color: maroon;
    padding: 15px;
    position: absolute;
    text-align: center;
    top: 45%;
    left: 10%;
    font-style: italic;
  }
  .hero {
    max-height: 600px;
    background-image: url(https://images.alphacoders.com/989/thumb-1920-989913.png);
    background-size: cover;
    height: 600px;
  }

  .header {
    padding: 10px;
    height: 150px;
    background-color: rgb(34, 31, 31);
  }
  .class-padding {
    width: 300;
    background-color: rgb(34, 31, 31);
    padding: 20px;
    margin: 40px;
  }
  .video-wrapper {
    display: flex;
    flex-direction: column;
    transition: background-color 0.5s;
  }
  .video-wrapper:hover {
    background-color: rgb(67, 66, 66);
  }
  .tip-links {
    display: inline-block;
  }
  .forum-links {
    width: 20px;
    display: inline-block;
    background-color: rgb(34, 31, 31);
  }

  .content-main {
    position: relative;
    padding: 20px;
    margin: 20px;
    height: 900px;
    max-height: 1070px;
    transition: background-color 0.5s;
  }

  footer {
    position: fixed;
    text-align: center;
  }
  .bg-textColor {
    background-origin: padding-box;

    padding: 5px;
  }
  .bg-textColor:hover {
    background-color: rgb(67, 66, 66);
  }
}
.card_two_text{
  text-align: left;
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .content-container{
    display: flex;
    flex-direction: column;
  }
  .content-main{
    display: flex;
    flex-direction:column;
  }
  .main{
    display:flex;
    flex-direction: column;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 414px) and (max-width: 896px) {
  .content-main {
    display: grid;
    grid-template-rows: 1fr;
  }
  .video-wrapper {
    display: flex;
    flex-direction: column;
  }
  .title {
    color: rgb(70, 0, 0);
    font-size: 2em;
    font-size: 100px;
    position: absolute;
    top: 37%;
    left: 34%;
    font-style: italic;
  }
  .title::after {
    content: "Tracker";
    position: absolute;
    top: 59%;
    left: 34%;
    font-style: italic;
  }
  .patch-notes {
    display: flex;
    flex-direction: row-reverse;
    padding: 5%;
    background-color: gray;
    color: black;
    text-decoration: black;
    font-style: italic;
  }

  .line {
    border: 1px solid black;
  }
  .vertical-line {
    height: 5px;
    border: 1px solid black;
  }
  .live-vid {
    float: right;
    padding: 25px;
  }
  .videos-guides {
    background-color: rgb(30, 29, 29);
    border-radius: 1%;
    padding: 20px;
    box-shadow: 10px 10px;
  }
  .news-updates {
    text-align: center;
    border-radius: 1%;
    background-color: rgb(30, 29, 29);
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    box-shadow: 10px 10px;
  }
  .video-header:after {
    content: " ";
    display: block;
    border: 2px solid rgb(77, 12, 12);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  }

  .news-header:after {
    content: " ";
    display: block;
    border: 2px solid rgb(77, 12, 12);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  }
  .wraith-img {
    width: 50%;
    height: 600px;
    border-radius: 1%;
    margin: 10px;
  }
  .wraith-img:hover {
    box-shadow: rgb(54, 53, 53) 10px 10px;
  }

  .LOTW {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: gray;
    padding: 10px;
  }
  .lotw-description {
    text-align: center;
  }
  .revenent-img {
    width: 500px;
    height: 300px;
    border-radius: 1%;
    margin: 10px;
  }
  .revenent-img:hover {
    box-shadow: 10px 10px;
  }
  .fan-art {
    background-color: gray;
  }
  .news-container {
    display: flex;
    flex-direction: column;
  }
  .legend-refs {
    list-style: none;
    text-decoration: none;
  }
  a {
    color: black;
  }
  a:hover {
    color: maroon;
    text-decoration: none;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
}
